<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Rocket Elevators</title>
	<link rel="shortcut icon" type="image/x-icon" href="assets/images/re-icon.png" />
	<meta name="description" content="" />

	
</head>



<body class="smoothscroll enable-animation">

		<br>

		<div class="container ">
       <h1 class="display-3 ">Corporation Services</h3>
		<p class="muted-text ">Our Corporate services is one of the leading services in Corporation elevator work and with our techology we do the work in less than a week and all our services are 100% ecological. We got the cheapest and strongest materials and our prices are flexible, if you want your first elevator or your third one we are the one you need.</p>
			<a href="/quotes/new" class="btn btn-default btn-lg btn-info"> Get a Quotes! </a>
		</div>

		<hr>

		<section class="container">

			<h1 align="center">Our Corporate Work</h1>

				<div class="container">
	
					<div class="row">
						<div class="col-sm-4">
								
							<img class="img-fluid" src="assets/hydraulic.gif" alt="img" />
							</a>
							<h3 class="mt-10">Hydraulic Elevator</h3>
							<hr>
							<p class="text-justify">Hydraulic elevators are supported by a piston at the bottom of the elevator that pushes the elevator up as an electric motor forces oil or another hydraulic fluid into the piston.  The elevator descends as a valve releases the fluid from the piston. They are used for low-rise applications of 2-8 stories and travel at a maximum speed of 200 feet per minute. The machine room for hydraulic elevators is located at the lowest level adjacent to the elevator shaft.</p>
							
						</div>
	
						<div class="col-sm-4">
							<img class="img-fluid" src="assets/geared-not-geared.gif" alt="img" />
							</a>
							<h3 class="mt-10">Geared and not geared Elevator</h3>
							<hr>
							<p class="text-justify"> <b> Geared Traction Elevators </b>have a gearbox that is attached to the motor, which drives the wheel that moves the ropes.  Geared traction elevators are capable of travel speeds up to 500 feet per minute. The maximum travel distance for a geared traction elevator is around 250 feet. <br> <b> Gear-less Traction Elevators </b> have the wheel attached directly to the motor.  Gear-less traction elevators are capable of speeds up to 2,000 feet per minute and they have a maximum travel distance of around 2,000 feet so they are the only choice for high-rise applications.</p>
							
						</div>
	
						<div class="col-sm-4">
							<img class="img-fluid" src="assets/machine-room-less.gif" width="600" height="400" alt="img" />
							<h3 class="mt-10">Machine Room Less Elevator</h3>
							<hr>
							<p class="text-justify"><b>Machine-Room-Less Elevators</b> are traction elevators that do not have a dedicated machine room above the elevator shaft.  The machine sits in the override space and is accessed from the top of the elevator cab when maintenance or repairs are required. The control boxes are located in a control room that is adjacent to the elevator shaft on the highest landing and within around 150 feet of the machine.
								
								</p>
							
						</div>
	
					</div>
	
				</div>
			</section>
		




	
	<!-- SCROLL TO TOP -->
	<a href="#" id="toTop"></a>


	<script>
	var plugin_path = 'assets/plugins/';
</script> 


</body>

</html>