<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Rocket Elevators</title>
	<link rel="shortcut icon" type="image/x-icon" href="assets/re-icon.png" />
	<meta name="description" content="" />



</head>



<body class="smoothscroll enable-animation">

	<div id="wrapper">

		<!-- REVOLUTION SLIDER -->
		<div class="slider fullwidthbanner-container roundedcorners">
			<div class="fullwidthbanner" data-height="600" data-shadow="0" data-navigationStyle="preview2"
				data-plugin-options='delay:"7000"'>
				<ul class="hide">

					<!-- SLIDE  -->
					<li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="300"
						data-saveperformance="off" data-end data-title="Bright Future">
						<!-- MAIN IMAGE -->
						<img src="assets/AdobeStock_53477661.jpeg" alt="cover image" data-bgposition="center top"
							data-bgfit="cover" data-bgrepeat="no-repeat">

						<div class="overlay dark-4">
						</div>

						<div class="tp-caption font-roboto skewfromleft tp-resizeme" data-x="50" data-y="100"
							data-speed="500" data-start="1500" data-easing="Cubic.easeOut" data-splitin="none"
							data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="500"
							style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
							Elevate your mind
						</div>

						<div class="tp-caption skewfromrightshort tp-resizeme" data-x="50" data-y="300" data-speed="500"
							data-start="1000" data-easing="easeInCirc" data-splitin="none" data-splitout="none"
							data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="500"
							style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;">
							With the best and cheapest team in the industry since 1976!
						</div>

						<div class="tp-caption sfb tp-resizeme" data-x="50" data-y="410" data-speed="500"
							data-start="1500" data-easing="Power3.easeIn" data-splitin="none" data-splitout="none"
							data-elementdelay="1" data-endelementdelay="0.1" data-endspeed="500"
							style="z-index: 4; max-width: auto;">
							<a class="btn btn-default btn-lg" href="#services">OUR SERVICES &nbsp; <i
									class="fa fa-angle-right"></i></a>
						</div>

						<div class="tp-caption sfb tp-resizeme" data-x="250" data-y="410" data-speed="500"
							data-start="1500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none"
							data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="500"
							style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">
							<a href="/quotes/new" class="btn btn-default btn-lg"> Get a Quotes 
								 <i class="fa fa-angle-right"></i></a>

						</div>
					</li>

					<!-- SLIDE  -->
					<li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="300"
						data-saveperformance="off" data-title="Bright Future">
						<!-- MAIN IMAGE -->
						<img src="assets/AdobeStock_72034307.jpeg" alt="cover image" data-bgposition="center top"
							data-bgfit="cover" data-bgrepeat="no-repeat">

						<div class="overlay dark-4">
							<!-- dark overlay [0 to 9 opacity] -->
						</div>

						<div class="tp-caption font-roboto skewfromleft tp-resizeme" data-x="50" data-y="100"
							data-speed="500" data-start="1500" data-easing="Cubic.easeOut" data-splitin="none"
							data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="500"
							style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
							Add some awesome feature <br /> to your home
						</div>

						<div class="tp-caption skewfromrightshort tp-resizeme" data-x="50" data-y="300" data-speed="500"
							data-start="1000" data-easing="easeInCirc" data-splitin="none" data-splitout="none"
							data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="500"
							style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;">
							If you dream of designing a new home that takes full advantage, <br />
							our team is the best in this field.
						</div>

						<div class="tp-caption sfb tp-resizeme" data-x="50" data-y="410" data-speed="500"
							data-start="1500" data-easing="Power3.easeIn" data-splitin="none" data-splitout="none"
							data-elementdelay="1" data-endelementdelay="0.1" data-endspeed="500"
							style="z-index: 4; max-width: auto;">
							<%= link_to residentialService_path, class: "btn btn-default btn-lg" do %>
								Our Residential Services <i class="fa fa-angle-right"></i>
							<% end %> 
						</div>
					</li>

					<!-- SLIDE  -->
					<li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="300"
						data-saveperformance="off" data-title="Bright Future">
						<!-- MAIN IMAGE -->
						<img src="assets/AdobeStock_66781279.jpeg" alt="cover image" data-bgposition="center top"
							data-bgfit="cover" data-bgrepeat="no-repeat">

						<div class="overlay dark-4">
							<!-- dark overlay [0 to 9 opacity] -->
						</div>

						<div class="tp-caption font-roboto skewfromleft tp-resizeme" data-x="50" data-y="100"
							data-speed="500" data-start="1500" data-easing="Cubic.easeOut" data-splitin="none"
							data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="500"
							style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
							Want new equipement for <br> your corporation?
						</div>

						<div class="tp-caption skewfromrightshort tp-resizeme" data-x="50" data-y="300" data-speed="500"
							data-start="1000" data-easing="easeInCirc" data-splitin="none" data-splitout="none"
							data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="500"
							style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;">
							Rocket Elevators is the team you need! fast and reliable work!
						</div>

						<div class="tp-caption sfb tp-resizeme" data-x="50" data-y="410" data-speed="500"
							data-start="1500" data-easing="Power3.easeIn" data-splitin="none" data-splitout="none"
							data-elementdelay="1" data-endelementdelay="0.1" data-endspeed="500"
							style="z-index: 4; max-width: auto;">
							<%= link_to corporateService_path, class: "btn btn-default btn-lg" do %>
								Our Corporate Services <i class="fa fa-angle-right"></i>
							<% end %> 
						</div>
					</li>

				</ul>

			</div>
		</div>
		<!-- /REVOLUTION SLIDER -->


		<hr class="m-0" /><!-- 1px line separator -->


		<!-- BUTTON CALLOUT -->
		<a href="#contact" class="btn btn-xlg btn-info fs-20 fullwidth m-0 rad-0 p-40">
			<span class="font-lato fs-30">
				Did we convinced you?
				<strong>Contact us &raquo;</strong>
			</span>
		</a>
		<!-- /BUTTON CALLOUT -->



		<!-- Services -->
		<section id="services">
			<div class="container">

				<div class="row">
					<div class="col-sm-4">
						<img class="img-fluid" src="assets/Capture.PNG" alt="img" style="width:600px;height:240px;">
						</a>

						<h3 class="mt-10">Our Biggest Projects</h3>
						<p>With our big team we work on big projects over the years and we are proud to show them to
							you, our customers.</p>
						<a href="#portfolio" class="btn btn-success">Our Prizes</a>
					</div>

					<div class="col-sm-4">
						<img class="img-fluid" src="assets/residentialElevator-1.jpg" alt="img" />
						</a>
						<h3 class="mt-10">Our Residential work</h3>
						<p>We are one of the most advanced team in residential elevator and one of the most reliable and
							just for you here how we do it.</p>
								<%= link_to residentialService_path, class: "btn btn-default btn-lg btn-info" do %>
									Residential Services <i class="fa fa-angle-right"></i>
								<% end %> 
					</div>

					<div class="col-sm-4">
						<img class="img-fluid" src="assets/corporateElevator-1.jpg" alt="img" />
						<h3 class="mt-10">Our Corporate work</h3>
						<p>Beside being one of the best team in residential work, we dont forget where we came from,
							our Corporate Projects are the best!</p>
							<%= link_to corporateService_path, class: "btn btn-default btn-lg btn-info" do %>
								Corporate Services <i class="fa fa-angle-right"></i>
							<% end %> 
					</div>

				</div>

			</div>
		</section>
		<!-- /Services -->




		<!-- Parallax -->
		<section class="parallax parallax-1" style="background-image: url('assets/AdobeStock_146216308.jpeg');">
			<div class="overlay dark-5">
				<!-- dark overlay [1 to 9 opacity] -->
			</div>

			<div class="container">

				<div class="text-center">
					<h2 class="fs-40 fw-300">Contractor &amp; Construction Since 1976</h2>
					<a href="/quotes/new" class="btn btn-default btn-lg btn-info"> 
						Get a Quotes <i class="fa fa-angle-right"></i></a>
					
					&nbsp; OR &nbsp;
					<a class="btn btn-info btn-lg" href="#contact">CONTACT US <i class="fa fa-angle-right"></i></a>
				</div>

			</div>
		</section>
		<!-- /Parallax -->




		<!-- PORTFOLIO -->
		<section id="work">
			<div class="container">

				<h2 align='center'>Our Biggest Elevator Projects!</h2>
				<hr>

				<div id="portfolio" class="portfolio-nogutter">

					<div class="row mix-grid">

						<div class="col-md-3 col-sm-3  design">
							<!-- item -->

							<div class="item-box">
								<figure>
									<span class="item-hover">
										<span class="overlay dark-5"></span>
										<span class="inner">



											<!-- lightbox -->
											<a class="ico-rounded lightbox" href="assets/burjkhalifa.jpg"
												data-plugin-options='{"type":"image"}'>
												<span class="fa fa-plus fs-20"></span>
											</a>

											<a class="icon-envelope"
												href="https://www.otis.com/en/hk/projects/showcase/burj-khalifa/"></a>


										</span>
									</span>


									<img class="img-fluid" src="assets/burjkhalifa.jpg" width="600" height="399" alt=""/>
								</figure>

								<div class="item-box-desc">
									<h3>Burj Khalifa</h3>
									<ul class="list-inline categories m-0">
										<li><a href="#">Biggest Tower in the world</a></li>
									</ul>
								</div>

							</div>

						</div><!-- /item -->


						<div class="col-md-3 col-sm-3  development">
							<!-- item -->

							<div class="item-box">
								<figure>
									<span class="item-hover">
										<span class="overlay dark-5"></span>
										<span class="inner">

											<!-- lightbox -->
											<a class="ico-rounded lightbox"
												href="assets/Empire-State-Building.gif"
												data-plugin-options='{"type":"image"}'>
												<span class="fa fa-plus fs-20"></span>
											</a>

											<a class="icon-envelope"
												href="https://fr.newyorkpass.com/new-york-attractions/empire-state-building-observation-deck.html"></a>

										</span>
									</span>

									<img class="img-fluid" src="assets/Empire-State-Building.gif" width="600"
										height="399" alt="">
								</figure>

								<div class="item-box-desc">
									<h3>Empire State Building</h3>
									<ul class="list-inline categories m-0">
										<li><a href="#">New York </a></li>
										<li><a href="#">USA</a></li>
									</ul>
								</div>

							</div>

						</div><!-- /item -->


						<div class="col-md-3 col-sm-3  photography">
							<!-- item -->

							<div class="item-box">
								<figure>
									<span class="item-hover">
										<span class="overlay dark-5"></span>
										<span class="inner">

											<!-- lightbox -->
											<a class="ico-rounded lightbox" href="assets/marina-bay.jpg"
												data-plugin-options='{"type":"image"}'>
												<span class="fa fa-plus fs-20"></span>
											</a>

											<a class="icon-envelope" href="https://www.marinabaysands.com/"></a>

										</span>
									</span>

									<img class="img-fluid" src="assets/marina-bay.jpg" width="546" height="432"
										alt="">
								</figure>

								<div class="item-box-desc">
									<h3>Marina Bay Sand</h3>
									<ul class="list-inline categories m-0">
										<li><a href="#">Singapour</a></li>
										<li><a href="#">Boat Building</a></li>
									</ul>
								</div>

							</div>

						</div><!-- /item -->


						<div class="col-md-3 col-sm-3  design">
							<!-- item -->

							<div class="item-box">
								<figure>
									<span class="item-hover">
										<span class="overlay dark-5"></span>
										<span class="inner">

											<!-- lightbox -->
											<a class="ico-rounded lightbox" href="assets/tourcn.jpg"
												data-plugin-options='{"type":"image"}'>
												<span class="fa fa-plus fs-20"></span>
											</a>

											<a class="icon-envelope" href="https://www.cntower.ca/en-ca/home.html"></a>

										</span>
									</span>

									<img class="img-fluid" src="assets/tourcn.jpg" width="546" height="432"
										alt="">
								</figure>

								<div class="item-box-desc">
									<h3>CN Tower</h3>
									<ul class="list-inline categories m-0">
										<li><a href="#">Toronto</a></li>
										<li><a href="#">Canada</a></li>
									</ul>
								</div>

							</div>

						</div><!-- /item -->


						<div class="col-md-3 col-sm-3  design">
							<!-- item -->

							<div class="item-box">
								<figure>
									<span class="item-hover">
										<span class="overlay dark-5"></span>
										<span class="inner">

											<!-- lightbox -->
											<a class="ico-rounded lightbox" href="assets/burjalarab.jpg"
												data-plugin-options='{"type":"image"}'>
												<span class="fa fa-plus fs-20"></span>
											</a>
											<a class="icon-envelope" href="https://www.cntower.ca/en-ca/home.html"></a>
										</span>
									</span>

									<img class="img-fluid" src="assets/burjalarab.jpg" width="600" height="399"
										alt="">
								</figure>

								<div class="item-box-desc">
									<h3>Burj Al Arab</h3>
									<ul class="list-inline categories m-0">
										<li><a href="#" >Dubai</a></li>
										<li><a href="#">5 star hotel</a></li>
									</ul>
								</div>

							</div>

						</div><!-- /item -->


						<div class="col-md-3 col-sm-3  photography">
							<!-- item -->

							<div class="item-box">
								<figure>
									<span class="item-hover">
										<span class="overlay dark-5"></span>
										<span class="inner">

											<!-- lightbox -->
											<a class="ico-rounded lightbox" href="assets/tecent.jpg"
												data-plugin-options='{"type":"image"}'>
												<span class="fa fa-plus fs-20"></span>
											</a>

											<a class="icon-envelope"
												href="https://www.fastcompany.com/90244981/inside-tencents-new-599-million-shenzhen-headquarters"></a>

										</span>
									</span>

									<img class="img-fluid" src="assets/tecent.jpg" width="600" height="399"
										alt="">
								</figure>

								<div class="item-box-desc">
									<h3>Tencent Headquarter</h3>
									<ul class="list-inline categories m-0">
										<li><a href="#">Shenzen</a></li>
									</ul>
								</div>

							</div>

						</div><!-- /item -->


						<div class="col-md-3 col-sm-3  design">
							<!-- item -->

							<div class="item-box">
								<figure>
									<span class="item-hover">
										<span class="overlay dark-5"></span>
										<span class="inner">

											<!-- lightbox -->
											<a class="ico-rounded lightbox" href="assets/trump.jpg"
												data-plugin-options='{"type":"image"}'>
												<span class="fa fa-plus fs-20"></span>
											</a>

											<a class="icon-envelope" href="https://www.trumphotels.com/"></a>

										</span>
									</span>

									<img class="img-fluid" src="assets/trump.jpg" width="600" height="399"
										alt="">
								</figure>

								<div class="item-box-desc">
									<h3>Trump Resort</h3>
									<ul class="list-inline categories m-0">
										<li><a href="#">Florida</a></li>
										<li><a href="#">USA</a></li>
									</ul>
								</div>

							</div>

						</div><!-- /item -->


						<div class="col-md-3 col-sm-3  design">
							<!-- item -->

							<div class="item-box">
								<figure>
									<span class="item-hover">
										<span class="overlay dark-5"></span>
										<span class="inner">

											<!-- lightbox -->
											<a class="ico-rounded lightbox" href="assets/centralplaza.jpg"
												data-plugin-options='{"type":"image"}'>
												<span class="fa fa-plus fs-20"></span>
											</a>

											<a class="icon-envelope"
												href="https://en.wikipedia.org/wiki/Central_Plaza"></a>


										</span>
									</span>

									<img class="img-fluid" src="assets/centralplaza.jpg" width="600" height="399"
										alt="">
								</figure>

								<div class="item-box-desc">
									<h3>Central Plaza</h3>
									<ul class="list-inline categories m-0">
										<li><a href="#">Dublin</a></li>
										<li><a href="#">Ireland</a></li>
									</ul>
								</div>

							</div>

						</div><!-- /item -->

						<div class="col-md-3 col-sm-3  design">
							<!-- item -->

							<div class="item-box">
								<figure>
									<span class="item-hover">
										<span class="overlay dark-5"></span>
										<span class="inner">

											<!-- lightbox -->
											<a class="ico-rounded lightbox" href="assets/award-4.jpg"
												data-plugin-options='{"type":"image"}'>
												<span class="fa fa-plus fs-20"></span>
											</a>

											<a class="icon-envelope" href="https://www.brickaward.com/"></a>


										</span>
									</span>

									<img class="img-fluid" src="assets/award-4.jpg" width="600" height="399"
										alt="">
								</figure>

								<div class="item-box-desc">
									<h3>Brick Award 2017</h3>
									<ul class="list-inline categories m-0">
										<li><a href="#">USA</a></li>
										<li><a href="#">2017</a></li>
									</ul>
								</div>

							</div>

						</div><!-- /item -->

						<div class="col-md-3 col-sm-3  design">
							<!-- item -->

							<div class="item-box">
								<figure>
									<span class="item-hover">
										<span class="overlay dark-5"></span>
										<span class="inner">

											<!-- lightbox -->
											<a class="ico-rounded lightbox" href="assets/award-3.jpg"
												data-plugin-options='{"type":"image"}'>
												<span class="fa fa-plus fs-20"></span>
											</a>

											<a class="icon-envelope"
												href="https://www.hertfordshire.gov.uk/microsites/building-futures/building-futures-awards/building-futures-awards-2018.aspx"></a>


										</span>
									</span>

									<img class="img-fluid" src="assets/award-3.jpg" width="600" height="399"
										alt="">
								</figure>

								<div class="item-box-desc">
									<h3>Building Future Award</h3>
									<ul class="list-inline categories m-0">
										<li><a href="#">EU</a></li>
										<li><a href="#">2018</a></li>
									</ul>
								</div>

							</div>

						</div><!-- /item -->

						<div class="col-md-3 col-sm-3  design">
							<!-- item -->

							<div class="item-box">
								<figure>
									<span class="item-hover">
										<span class="overlay dark-5"></span>
										<span class="inner">

											<!-- lightbox -->
											<a class="ico-rounded lightbox" href="assets/award-2.jpg"
												data-plugin-options='{"type":"image"}'>
												<span class="fa fa-plus fs-20"></span>
											</a>

											<a class="icon-envelope"
												href="https://www.goldcoastbusinessawards.com.au/"></a>


										</span>
									</span>

									<img class="img-fluid" src="assets/award-2.jpg" width="600" height="399"
										alt="">
								</figure>

								<div class="item-box-desc">
									<h3>Gold Coast Award</h3>
									<ul class="list-inline categories m-0">
										<li><a href="#">USA</a></li>
										<li><a href="#">2017</a></li>
									</ul>
								</div>

							</div>

						</div><!-- /item -->

						<div class="col-md-3 col-sm-3  design">
							<!-- item -->

							<div class="item-box">
								<figure>
									<span class="item-hover">
										<span class="overlay dark-5"></span>
										<span class="inner">

											<!-- lightbox -->
											<a class="ico-rounded lightbox" href="assets/award-1.png"
												data-plugin-options='{"type":"image"}'>
												<span class="fa fa-plus fs-20"></span>
											</a>

											<a class="icon-envelope"
												href="https://www.cityandguilds.com/-/media/productdocuments/construction/construction/6314/6314_level_2/construction-awards-alliance-update-pdf.ashx"></a>



										</span>
									</span>

									<img class="img-fluid" src="assets/award-1.png" width="600" height="399"
										alt="">
								</figure>

								<div class="item-box-desc">
									<h3>CAA Awards 2016</h3>
									<ul class="list-inline categories m-0">
										<li><a href="#">Canada</a></li>
										<li><a href="#">2016</a></li>
									</ul>
								</div>

							</div>

						</div><!-- /item -->

					</div>

				</div>
		</section>
		<!-- /PORTFOLIO -->





		<!-- Testimonials -->
		<section class="section-xs dark">
			<div class="container">

				<div class="owl-carousel text-center owl-testimonial m-0">
					<!--//data-plugin-options='{"singleItem": true, "autoPlay": 3500, "navigation": false, "pagination": true, "transitionStyle":"fade"}'> -->	
					<div class="testimonial">
						<figure>
							<img class="rounded" src="" alt="" />
						</figure>
						<div class="testimonial-content p-0">
							<p class="lead">CEO of Rocket Elevator since the begening and highly appreciated by the
								employee.</p>
							<cite>
								Mathieu Lefrancois
								<span>Rocket Elevator</span>
							</cite>
						</div>
					</div>
					<div class="testimonial">
						<figure>
							<img class="rounded" src="" alt="" />
						</figure>
						<div class="testimonial-content p-0">
							<p class="lead">Employee of the month since 1976.</p>
							<cite>
								Christopher Hardoin
								<span>Rocket Elevator</span>
							</cite>
						</div>
					</div>
				</div>

			</div>
		</section>
		<!-- /Testimonials -->





		<!-- News -->
		<section id="news">
			<div class="container">

				<div class="heading-title heading-dotted text-center">
					<h2>Recent News</h2>
				</div>
				<div class="owl-carousel owl-padding-10 buttons-autohide controlls-over"
					data-plugin-options='{"singleItem": false, "items":"4", "autoPlay": 4000, "navigation": true, "pagination": false}'>
					<div class="img-hover">
						<a href="https://www.producer.com/2019/09/ph-to-buy-louis-dreyfus-elevators/">
							<img class="img-fluid" src="assets/news-1.jpg" style="width: 220px; height: 150px;" alt="">
						</a>

						<h4 class="text-left mt-20"><a
								href="https://www.producer.com/2019/09/ph-to-buy-louis-dreyfus-elevators/">P&H to buy
								Louis Dreyfus elevators</a></h4>
						<p class="text-left">The Winnipeg-based company has reached a deal with Louis Dreyfus
							Commodities to acquire 10 Canadian-based facilities in Manitoba, Saskatchewan, Alberta and
							British Columbia.</p>
						<ul class="text-left fs-12 list-inline list-separator">
							<li>
								<i class="fa fa-calendar"></i>
								September 4, 2019
							</li>
							
						</ul>
					</div>
					<div class="img-hover">
						<a
							href="https://newyork.cbslocal.com/2019/09/04/sam-waisbren-elevator-accident-victim-basketball-program/">
							<img class="img-fluid" src="assets/news-2.jpg" style="width: 220px; height: 150px;" alt="">
						</a>

						<h4 class="text-left mt-20"><a
								href="https://newyork.cbslocal.com/2019/09/04/sam-waisbren-elevator-accident-victim-basketball-program/">Family
								Of Man Killed In Elevator</a></h4>
						<p class="text-left">NEW YORK (CBSNewYork) – The family of a man killed in a tragic elevator
							accident is raising money to start a basketball program in his memory.</p>
						<ul class="text-left fs-12 list-inline list-separator">
							<li>
								<i class="fa fa-calendar"></i>
								September 4, 2019
							</li>
							
						</ul>
					</div>
					<div class="img-hover">
						<a
							href="https://www.barrons.com/articles/otis-elevator-stock-united-technologies-split-51567546279">
							<img class="img-fluid" src="assets/news-3.jpg" style="width: 220px; height: 150px;" alt="">
						</a>

						<h4 class="text-left mt-20"><a
								href="https://www.barrons.com/articles/otis-elevator-stock-united-technologies-split-51567546279">Otis
								Elevator</a></h4>
						<p class="text-left">The United Technologies Split Could Make a Winner Out of Otis Elevator
							Stock.</p>
						<ul class="text-left fs-12 list-inline list-separator">
							<li>
								<i class="fa fa-calendar"></i>
								September 4, 2019
							</li>
							
						</ul>
					</div>
					<div class="img-hover">
						<a
							href="https://www.boston25news.com/news/worker-dies-while-repairing-elevator-inside-tripadvisor-building/982138431">
							<img class="img-fluid" src="assets/news-5.jpg" style="width: 220px; height: 150px;" alt="">
						</a>

						<h4 class="text-left mt-20"><a
								href="https://www.boston25news.com/news/worker-dies-while-repairing-elevator-inside-tripadvisor-building/982138431">Worker
								dies while repairing elevator inside TripAdvisor building</a></h4>
						<p class="text-left">NEEDHAM, Mass. - A worker died on Tuesday morning after getting stuck
							inside an elevator shaft in Needham, the Norfolk County DAs office says.</p>
						<ul class="text-left fs-12 list-inline list-separator">
							<li>
								<i class="fa fa-calendar"></i>
								September 4, 2019
							</li>
							
							</li>
						</ul>
					</div>
					<div class="img-hover">
						<a
							href="https://www.bloomberg.com/news/articles/2019-09-04/thyssenkrupp-tells-potential-buyers-it-s-open-to-elevator-sale">
							<img class="img-fluid" src="assets/news-4.jpg" style="width: 220px; height: 150px;" alt="">
						</a>
						<h4 class="text-left mt-20"><a
								href="https://www.bloomberg.com/news/articles/2019-09-04/thyssenkrupp-tells-potential-buyers-it-s-open-to-elevator-sale">Thyssenkrupp
								Open to Range of Offers for Elevator Business</a></h4>
						<p class="text-left">Thyssenkrupp AG informed potential buyers of its elevator business that the
							crisis-hit firm will consider a range of bids for the unit, according to people familiar
							with the matter.</p>
						<ul class="text-left fs-12 list-inline list-separator">
							<li>
								<i class="fa fa-calendar"></i>
								September 4, 2019
							</li>
							
							</li>
						</ul>
					</div>
					<div class="img-hover">
						<a
							href="https://slate.com/culture/2019/09/pope-francis-trapped-elevator-rescue-firefighters-weekly-prayer.html">
							<img class="img-fluid" src="assets/news-6.jpeg" style="width: 220px; height: 150px;" alt="">
						</a>
						<h4 class="text-left mt-20"><a
								href="https://slate.com/culture/2019/09/pope-francis-trapped-elevator-rescue-firefighters-weekly-prayer.html">Pope
								Francis Trapped in an Elevator for 25 Minutes</a></h4>
						<p class="text-left">Pope Francis got himself trapped in an elevator on Sunday, the BBC reports.
						</p>
						<ul class="text-left fs-12 list-inline list-separator">
							<li>
								<i class="fa fa-calendar"></i>
								September 2, 2019
							</li>
							
						</ul>
					</div>
				</div>
		</section>
		<!-- /News -->

		<!-- Clients -->
		<section id="clients" class="alternate">
			<div class="container">

				<div class="heading-title heading-dotted text-center">
					<h2>Our Clients</h2>
				</div>

				<ul class="row clients-dotted list-inline">
					<li class="col-md-3 col-sm-3 col-6">
						<a href="https://www.albanyelevator.com/">
							<img class="img-fluid" src="assets/client-1.png" alt="client" />
						</a>
					</li>
					<li class="col-md-3 col-sm-3 col-6">
						<a href="https://ardlift.com/">
							<img class="img-fluid" src="assets/client-2.png" alt="client" />
						</a>
					</li>
					<li class="col-md-3 col-sm-3 col-6">
						<a href="https://buffaloah.com/h/jewett_s/ad/ad.html">
							<img class="img-fluid" src="assets/client-3.png" alt="client" />
						</a>
					</li>
					<li class="col-md-3 col-sm-3 col-6">
						<a href="https://www.ela-aisbl.org/">
							<img class="img-fluid" src="assets/client-4.png" alt="client" />
						</a>
					</li>
					<li class="col-md-3 col-sm-3 col-6">
						<a href="https://www.northampton.ac.uk/">
							<img class="img-fluid" src="assets/client-5.png" alt="client" />
						</a>
					</li>
					<li class="col-md-3 col-sm-3 col-6">
						<a href="https://www.worldskills-france.org/">
							<img class="img-fluid" src="assets/client-6.png" alt="client" />
						</a>
					</li>
					<li class="col-md-3 col-sm-3 col-6">
						<a href="https://spmfg.com/">
							<img class="img-fluid" src="assets/client-7.png" alt="client" />
						</a>
					</li>
					<li class="col-md-3 col-sm-3 col-6">
						<a href="https://pmsquare.com/">
							<img class="img-fluid" src="assets/client-8.png" alt="client" />
						</a>
					</li>
					<li class="col-md-3 col-sm-3 col-6">
						<a href="http://www.cemarelectro.com/">
							<img class="img-fluid" src="assets/client-9.png" alt="client" />
						</a>
					</li>
					<li class="col-md-3 col-sm-3 col-6">
						<a href="https://www.dominionpathology.com/">
							<img class="img-fluid" src="assets/client-10.jpg" alt="client" />
						</a>
					</li>
					<li class="col-md-3 col-sm-3 col-6">
						<a href="https://www.farmersstatebank.com/">
							<img class="img-fluid" src="assets/client-11.png" alt="client" />
						</a>
					</li>
					<li class="col-md-3 col-sm-3 col-6">
						<a href="http://www.kraftcanada.com/marques/philadelphia">
							<img class="img-fluid" src="assets/client12.png" alt="client" />
						</a>
					</li>
				</ul>

			</div>
		</section>
		<!-- /Clients -->




		<!-- CONTACT -->
		<section id="contact">
			<div class="container">

				<header class="text-center mb-60">
					<h2>Contact Us</h2>
					<p class="lead font-lato">contact us for more information!</p>
					<hr />
				</header>


				<div class="row">

					<!-- FORM -->
					<div class="col-md-8 col-sm-8">

						<h3>Drop us a line or just say <strong><em>Hello!</em></strong></h3>


						<!--
								MESSAGES
								
									How it works?
									The form data is posted to php/contact.php where the fields are verified!
									php.contact.php will redirect back here and will add a hash to the end of the URL:
										#alert_success 		= email sent
										#alert_failed		= email not sent - internal server error (404 error or SMTP problem)
										#alert_mandatory	= email not sent - required fields empty
										Hashes are handled by assets/js/contact.js

									Form data: required to be an array. Example:
										contact[email][required]  WHERE: [email] = field name, [required] = only if this field is required (PHP will check this)
										Also, add `required` to input fields if is a mandatory field. 
										Example: <input required type="email" value="" class="form-control" name="contact[email][required]">

									PLEASE NOTE: IF YOU WANT TO ADD OR REMOVE FIELDS (EXCEPT CAPTCHA), JUST EDIT THE HTML CODE, NO NEED TO EDIT php/contact.php or javascript
												 ALL FIELDS ARE DETECTED DINAMICALY BY THE PHP

									WARNING! Do not change the `email` and `name`!
												contact[name][required] 	- should stay as it is because PHP is using it for AddReplyTo (phpmailer)
												contact[email][required] 	- should stay as it is because PHP is using it for AddReplyTo (phpmailer)
							-->

						<!-- Alert Success -->
						<div id="alert_success" class="alert alert-success mb-30">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							<strong>Thank You!</strong> Your message successfully sent!
						</div><!-- /Alert Success -->


						<!-- Alert Failed -->
						<div id="alert_failed" class="alert alert-danger mb-30">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							<strong>[SMTP] Error!</strong> Internal server error!
						</div><!-- /Alert Failed -->


						<!-- Alert Mandatory -->
						<div id="alert_mandatory" class="alert alert-danger mb-30">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							<strong>Sorry!</strong> You need to complete all mandatory (*) fields!
						</div><!-- /Alert Mandatory -->


						<form action="php/contact.php" method="post" enctype="multipart/form-data">
							<fieldset>
								<input type="hidden" name="action" value="contact_send" />

								<div class="row">
									<div class="col-md-4">
										<label for="contact:name">Full Name *</label>
										<input required type="text" value="" class="form-control"
											name="contact[name][required]" id="contact:name">
									</div>
									<div class="col-md-4">
										<label for="contact:entName">Entreprise Name *</label>
										<input required type="text" value="" class="form-control"
											name="contact[entName][required]" id="contact:entName">
									</div>
									<div class="col-md-4">
										<label for="contact:email">E-mail Address *</label>
										<input required type="email" value="" class="form-control"
											name="contact[email][required]" id="contact:email">
									</div>
									<div class="col-md-4">
										<label for="contact:phone">Phone *</label>
										<input type="text" value="" class="form-control" name="contact[phone]"
											id="contact:phone">
									</div>
									<div class="col-md-8">
										<label for="contact:projectName">Project Name *</label>
										<input required type="text" value="" class="form-control"
											name="contact[subject][required]" id="contact:subject">
									</div>
									<div class="col-md-8">
											<label for="contact:projectName">Project Description *</label>
											<input required type="text" value="" class="form-control"
												name="contact[subject][required]" id="contact:subject">
										</div>
								
								
								
									<div class="col-md-4">
										<label for="contact_department">Department</label>
										<select class="form-control pointer" name="contact[department]">
											<option value="">--- Select ---</option>
											<option value="">Project Manager</option>
											<option value="">Director</option>
											<option value="">Employee</option>
										</select>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<label for="contact:message">Message *</label>
										<textarea required maxlength="10000" rows="8" class="form-control"
											name="contact[message]" id="contact:message"></textarea>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<label for="contact:attachment">File Attachment</label>

										<!-- custom file upload -->
										<input class="custom-file-upload" type="file" id="file"
											name="contact[attachment]" id="contact:attachment"
											data-btn-text="Select a File" />
										<small class="text-muted block">Max file size: 10Mb (zip/pdf/jpg/png)</small>

									</div>
								</div>

							</fieldset>

							<div class="row">
								<div class="col-md-12">
									<button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> SEND
										MESSAGE</button>
								</div>
							</div>
						</form>

					</div>
					<!-- /FORM -->


					<!-- INFO -->
					<div class="col-md-4 col-sm-4">

						<h2>Visit Us</h2>

						<!-- 
							Available heights
								h-100
								h-150
								h-200
								h-250
								h-300
								h-350
								h-400
								h-450
								h-500
								h-550
								h-600
							-->
						<div id="map2" class="h-400 grayscale"></div>

						<hr />

						<p>
							<span class="block"><strong><i class="fa fa-map-marker"></i> Address:</strong> 725 Boulevard
								Lebourgneuf, Quebec city, Quebec</span>
							<span class="block"><strong><i class="fa fa-phone"></i> Phone:</strong> <a
								> <b> 1-800-565-2390 </b> </a></span>
							<span class="block"><strong><i class="fa fa-envelope"></i> Email:</strong> <a
									> <b> support@rocketelevators.com</b></a></span>
						</p>

					</div>
					<!-- /INFO -->

				</div>

			</div>
		</section>
		<script>
		var plugin_path = 'assets/plugins/';
	</script> 

		<!-- /CONTACT -->
</body>

</html>