<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Rocket Elevators</title>
	<link rel="shortcut icon" type="image/x-icon" href="assets/images/re-icon.png" />
	<meta name="description" content="" />

	</head>


<body class="smoothscroll enable-animation">
		<br>

		<div class="container ">
       <h1 class="display-3 ">Residential Services</h3>
		<p class="muted-text ">Our Residential services is one of the leading services in residential elevator work and with our techology we do the work in less than a week and all our services are 100% ecological. We got the cheapest and strongest materials and our prices are flexible, so all kind of residential contractor can experience our servicees.</p>
			<a href="/quotes/new" class="btn btn-default btn-lg btn-info">Get a Quotes! </a>
		</div>

		<hr>

		<section class="container">

			<h1 align="center">Our Residential Work</h1>

				<div class="container">
	
					<div class="row">
						<div class="col-sm-4">
								
							<img class="img-fluid" src="assets/roped-hydraulic.jpg" alt="img" />
							</a>
							<h3 class="mt-10">Roped Hydraulic Elevators</h3>
							<hr>
							<p class="text-justify">Roped Hydraulic elevators combine the advantages of hydraulic systems with the ease of roped ones. They are based around a hydraulic pump that is connected to a piston and pulley. The piston is supported by a pedestal and connected to the hoist way by a series of brackets. A pair of steel cables (or “ropes”) are anchored to the floor of the shaft, stretched around the pulley at the top, and then attached to the bottom of the L-shaped sling on which the cab sits. This makes for a smoother ride than many other systems.</p>
							
						</div>
	
						<div class="col-sm-4">
							<img class="img-fluid" src="assets/pneumatic-vacuum.jpg" alt="img" />
							</a>
							<h3 class="mt-10">Pneumatic Vacuum Elevators</h3>
							<hr>
							<p class="text-justify">The pneumatic vacuum elevator, or PVE, is the newest innovation in elevator design. PVE’s are revolutionary because they do not require cables, chains, pistons, or counterweights, but instead use the hoist way itself as part of the lifting system. Composed of a tube-shaped cab in a tube-shaped hoist way, the pneumatic vacuum elevator uses parts that fit perfectly together. This is necessary in order to maintain precise atmospheric pressures above and below the cab. The lifting action occurs when pressure is reduced above the cab, causing it to rise to fill the void. To descend, a control valve slowly releases pressure, creating a cushion of air beneath the cab. This makes for an energy-conscious elevator since energy is needed almost exclusively to lift the cab and not to lower it.</p>
							
						</div>
	
						<div class="col-sm-4">
							<img class="img-fluid" src="assets/Webp.net-compress-image.jpg" width="600" height="400" alt="img" />
							<h3 class="mt-10">Traction Drive Elevator</h3>
							<hr>
							<p class="text-justify">Traction Drive Elevator Systems are seen in the residential space on rare occasion. They are much more typically seen in commercial elevator systems.

								</p>
							
						</div>
	
					</div>
	
				</div>
			</section>





		
	<!-- SCROLL TO TOP -->
	<a href="#" id="toTop"></a>


	<script>
	var plugin_path = 'assets/plugins/';
</script> 


</body>

</html>